<aside class="side-nav" *ngIf="isOpen">

  <!-- Close (X) button -->
  <div class="close-btn" (click)="toggle()">✕</div>

  <nav class="nav-links">
    <a routerLink="/superadmin/dashboard" routerLinkActive="active" >
      <div class="nav-item">
        <img src="/asset-icons/superadmin-home.png" alt="Home" class="icon-img">
        <span class="label">Home</span>
      </div>
    </a>
      <a routerLink="/superadmin/clients" routerLinkActive="active">
        <div class="nav-item">
          <img src="/asset-icons/superadmin-client-onboarding.png" alt="Client Onboarding" class="icon-img">
          <span class="label">Client Onboarding</span>
        </div>
      </a>

    <a routerLink="/announcements" routerLinkActive="active">
      <div class="nav-item">
        <img src="/asset-icons/announcements.png" alt="Announcements" class="icon-img">
        <span class="label">Announcements</span>
      </div>
    </a>

  </nav>
</aside>
